<div>
  <h3>Calcular Investimento CDB</h3>
</div>
<!-- <form class="example-container" [formGroup]="investimentoForm" (ngSubmit)="calcularcdb(investimentoForm.value)">
  <mat-form-field>
    <input matInput name="valor_inicial" placeholder="VI" formControlName="valor_inicial">
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea  matInput name="valor_futuro" placeholder="VF" formControlName="valor_futuro"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea  matInput name="valor_cdi" placeholder="CDI" formControlName="valor_cdi"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea  matInput name="valor_tb" placeholder="TB" formControlName="valor_tb"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <textarea  matInput name="periodo" placeholder="Período" formControlName="periodo"></textarea>
  </mat-form-field>
  <br>
   <br>
  <button type="submit" [disabled]="!investimentoForm.valid" mat-button color="primary" >Calcular</button>
</form> -->
